.card {
  display: flex;
  align-items: center;
  justify-content: center;
 

  &__img {
    width:100%;
    height: auto;
  }

  &__img {
    border-radius: 50%;
  }

  &__text {
    font-size: 72px;
  }

}
